
/* ==== Scroll down to find where to put your styles :) ==== */

/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

a:link {
	-webkit-tap-highlight-color: #FF5E99;
	text-decoration: none;
}

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {  color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; text-decoration: none; }

/*
    // ========================================== \\
   ||                                              ||
   ||               Your styles !                  ||
   ||                                              ||
    \\ ========================================== //
*/

@font-face {
    font-family: 'Purisa-BoldOblique';
    src: url('../fonts/Purisa-BoldOblique.eot'); /* For IE */
    src: local('Purisa-BoldOblique'),
         url('../fonts/Purisa-BoldOblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Purisa-Oblique';
    src: url('../fonts/Purisa-Oblique.eot'); /* For IE */
    src: local('Purisa-Oblique'),
         url('../fonts/Purisa-Oblique.ttf') format('truetype');
}

#logonormal {
	top: 2;
	font-family: 'Purisa-Oblique';
	color: #fff;
}

#logobold {
	font-family: 'Purisa-BoldOblique';
	color: #ba0000;
}

footer {
  text-align: center;
}

body {
	margin: 0;
  padding: 0;
	background: black;
	min-width: 980px;
}

.container {
	width: 100%;
}

.header, .mainheader, .headeradditionadesc {
	background: #272b31 10px 10px no-repeat;
	padding: 10px 10px 0 10px;
	height: 60px;
	vertical-align: bottom;
	position: relative;
	border-bottom: 1px solid black;
	font-size: 30pt;
	text-shadow: 0px 0px 4px black;
}

.mainheader {
	font-size: 66pt;
	height: 120px;
}

.headeradditionaldesc {
	font-size: 20pt;
	color: #fff;
}

.header div.menu {
	position: absolute;
	bottom: 2px;
	right: 10px;
	text-align: right;
}

.header div.menu a {
	-moz-border-radius-topleft: 7px;
	border-top-left-radius: 7px;
	-moz-border-radius-topright: 7px;
	border-top-right-radius: 7px;
	border: 1px solid #222222;
	padding: 4px 7px;
	font-size: 11px;
	font-weight: bold;
	background: #333637 url(../img/gradGray01.png) top left repeat-x;
	color: white;
	font-family: Arial;
	font-weight: normal;
	text-shadow: 0 1px 3px black;
	text-decoration: none;
}

.presentation, .intro {
	background: #2c3138;
	padding: 10px;
	border-top: 1px solid #52585c;
	border-bottom: 1px solid #52585c;
}

.intro {
	border-bottom: 1px solid black;
}

p {
	margin-bottom: 2
}

.introtext {
	color: #fff;
	width: 50%;
	margin-left: 25%;
	text-align: justify;
	font-size: 12pt;
}

.tos {
	background: #2c3138;
	padding: 10px;
	color: #fff;
	text-align: justify;
	margin-left: 5%;
	margin-right: 5%;
	font-size: 10pt;
}

.slide, .thumbcontainer {
	background: black;
	border: 1px solid #41454a;
	padding: 10px;
	-moz-box-shadow: 0 0 4px black;
	-webkit-box-shadow: 0 0 4px black;
	box-shadow: 0 0 4px black;
}

.thumbcontainer {
	-moz-box-shadow: 0 0 4px black;
	-webkit-box-shadow: 0 0 4px black;
	box-shadow: 0 0 4px black;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	
	float: left;
	margin: 10px 0 10px 20px;
	padding: 7px;
	height: 220px;
}

.thumbcontainer .thumb {
	background: black;
	margin-left: auto;
	margin-right: auto;
	/*border: 1px solid #41454a;*/
	width: 200px;
	padding: 10px;
}

.thumbcontainer .comment {
	background: #8198ad url(bgComment.png) bottom left repeat-x;
	color: #333333;
	padding: 5px 10px;
	
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
}

.thumbcontainer .comment h2 {
	margin: 0 0 2px 0;
	padding: 0;
	color: white;
	text-shadow: 0 1px 2px black;
}

.thumbcontainer .comment b {
	color: black;
	font-weight: bold;
}

#videoContainer {
	float: left;
	width: 48%;
	min-width: 400px;
}

#slideContainer {
	margin-left: 51%;
}

.floatCloser {
	clear: both;
}

.controls {
	background: #272b31;
	min-height: 30px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.footer, footer {
	background: url(../img/gradGray02.png) top left repeat-x;
	height: 80px;
	border-top: 1px solid #52585c;
}

#agendaContainer {
	margin-left: 10px;
	margin-right: 10px;
}

#agendaContainer div {
	height: 30px;
	float: left;
	background: #627b94 url(bgAgendaUnselected.png) top left repeat-x;
	border-left: 1px solid black;
	position: relative;
}

#agendaContainer div > div {
	border: none;
}

#agendaContainer div.info {
	position: absolute;
	top: 40px;
	left: 5px;
	z-index: 1;
	background: #8198ad url(bgComment.png) bottom left repeat-x;
	color: #333333;
	padding: 10px;
	height: auto;
	border: 2px solid #476f8f;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	
	-moz-box-shadow: 0 0 5px #89DCFF;
	-webkit-box-shadow: 0 0 5px #89DCFF;
	box-shadow: 0 0 5px #89DCFF;

	display: none;
}

#agendaContainer > div:hover {
	-moz-box-shadow: 0 0 20px #89DCFF;
	-webkit-box-shadow: 0 0 20px #89DCFF;
	box-shadow: 0 0 20px #89DCFF;
}

#agendaContainer > div:hover div.info {
	display: block;
}

#agendaContainer div.agendaselected {
	background: #627b94 url(bgAgendaSelected.png) top left repeat-x;
}

#agendaContainer div.agendaselected > div.progress {
	background: transparent url(bgAvanzamento.png) top left repeat-x;
	margin: 3px auto;
	height: 24px;
	-moz-box-shadow: 0 0 20px #89DCFF;
	-webkit-box-shadow: 0 0 20px #89DCFF;
	box-shadow: 0 0 20px #89DCFF;
}

.tooltip {
	background-color: #000;
	border: 1px solid #fff;
	padding: 10px 15px;
	display: none;
	color: #fff;
	text-align: left;
	font-size: 12px;
	-moz-box-shadow: 0 0 10px #000;
	-webkit-box-shadow: 0 0 10px #000;
}














.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {

  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}