.thumbcontainer
  .thumb
    a(href="#{thumb.file}",title="2011/11 Groovy & Grails")
      img(src="http://b.vimeocdn.com/ts/230/926/230926141_200.jpg",alt="2011/11 Groovy & Grails")
  .comment
    h2= thumb.data.title
    | #{thumb.data.title}

