#container
  header(class="mainheader")
    a(href="//#{parent_host}/")
      img(src="/assets/images/logo.png")
    | 
    span.headeradditionaldesc About
  #main.intro(role="main")
    .introtext
      p Welcome to Presentz.org, the first website powered by Presentz.js, a video/slide synchronization library.
      p 
        br
      p Purpose of Presentz.js is to make everyone able to faithfully reproduce presentations and conference talks, without imposing any technology constraint.
      p 
        br
      p Most alternatives to Presentz.js have a centralized approach: you give them your video or audio, your slides, you use their tool to mix them, and they will host and publish the result.
      p 
        br
      p We don't. There are enough streaming and slide sharing services available not to make another. And if you prefer to host your files on your own, do that. With Presentz.js you just mix them all.
      p
        br
      p Well, not really ALL of them. Not yet. In Presentz.js, there are what we call video and slides "backends". For each backend, there is a plugin. So, if we don't support your favourite slide sharing or streaming service, poke us on the 
        a(href="https://github.com/ffissore/presentz.js/issues") issue tracker
        |  and join us in developing 
        a(href="https://github.com/ffissore/presentz.js") Presentz.js
        | .
      p
        br
      p As of now, Presentz.js supports these video backends: Youtube, Vimeo, Blip.tv, raw video files. And these slides backends: Slideshare, custom SWF files, raw images. Take a look at the 
        a(href="//#{parent_host}/demo") demo page
        |  to see them working.
      p
        br
      p Thank you for your interest in Presentz.js.
      p
        br
      p(style="font-size: 80%") Presentz.js is a project from 
        a(href="https://twitter.com/#!/fridrik") Federico Fissore
        | . Mauro Cappelli created Presentz.org layout and css. The Presentz.org logo is made with the Purisa true type font. Presentz.js is made with 
        a(href="http://jashkenas.github.com/coffee-script/") CoffeeScript
        | .
