#container
  #main(role="main")
    .container
      .header
        a(href="/")
          span#logonormal JUG
          |  
          span#logobold Torino
          |  
          span.headeradditionaldesc talks archive
      .intro
        span!= partial("thumb", presentations)
        .floatCloser
  footer
    p
      a(href="http://presentz.org/") Presentz 
      | is free (as in free speech) software. You are invited to 
      a(href="https://github.com/ffissore/presentz.js") hack
      |  and 
      a(href="https://github.com/ffissore/presentz.js/issues") criticize
      |  the code.
    p
      Copyright &copy; 2011 
      a(href="mailto:federico^_^AT^_^presentz.org") Federico Fissore
