#container
  #main(role="main")
    .container
      .header
        a(href="/")
          span#logonormal JUG
          |  
          span#logobold Torino
          |  
          span.headeradditionaldesc talks archive
      .intro
        span!= partial("thumb", presentations)
        .floatCloser
