#container
  header(class="mainheader")
    img(src="/assets/images/logo.png")
  #main.intro(role="main")
    .introtext
      p
        span#logonormal Present
        span#logobold z
        |  is a javascript library for synchronizing videos and slides, so to reproduce conference talks as faithfully as possible.
      p &nbsp;
      p It's a mashup, as it merges things like Vimeo, Youtube, Blip.tv and Slideshare together. But you can use raw images, swf and video files as well, unleashing the HTML5 video tag power.
      p &nbsp;
      p
        span#logonormal Present
        span#logobold z
        |  is a work-in-progress.
      p &nbsp;
      p You can  
        a(href="mailto:federico^_^AT^_^presentz.org") drop an email 
        | and ask questions, take a look at the 
        a(href="/demo") demo talks 
        | or enjoy the 
        a(href="/jugtorino") JUG Torino
        | , the 
        a(href="/iad11") 8th Italian Agile Day 
        | and the 
        a(href="/codemotion12") Codemotion 2012 talks catalog
        |.
