#container
  header(class="mainheader")
    img(src="/assets/images/logo.png")
  #main.intro(role="main")
    .introtext
      p
        span#logonormal Present
        span#logobold z
        |  is a javascript library for synchronizing videos and slides, so to reproduce conference talks as faithfully as possible.
      p &nbsp;
      p It's a mashup, as it merges things like Vimeo, Youtube, Blip.tv and Slideshare together. But you can use raw images or swf and video files as well, unleashing the HTML5 video tag power.
      p &nbsp;
      p
        span#logonormal Present
        span#logobold z
        |  is a work-in-progress. Soon there will be an editor, while more video and slide backends will be supported.
      p &nbsp;
      p For now,  
        a(href="mailto:federico^_^AT^_^presentz.org") drop an email 
        | and ask questions, take a look at the 
        a(href="//#{parent_host}/demo") demo talks 
        | or enjoy the 
        a(href="http://jugtorino.#{host}") JUG Torino talks catalog 
        | and the 
        a(href="http://iad11.#{host}") 8th Italian Agile Day talks catalog
        |.