@CHARSET "ISO-8859-1";

body {
	margin: 0;
	pading: 0;
	background: black;
	min-width: 980px;
}

.container {
	width: 100%;
}

.header {
	background: #272b31 url(logo.png) 10px 10px no-repeat;
	padding: 10px 10px 0 10px;
	height: 60px;
	vertical-align: bottom;
	position: relative;
	border-bottom: 1px solid black;
}

.header div.menu {
	position: absolute;
	bottom: 2px;
	right: 10px;
	text-align: right;
}

.header div.menu a {
	-moz-border-radius-topleft: 7px;
	border-top-left-radius: 7px;
	-moz-border-radius-topright: 7px;
	border-top-right-radius: 7px;
	border: 1px solid #222222;
	padding: 4px 7px;
	font-size: 11px;
	font-weight: bold;
	background: #333637 url(gradGray01.png) top left repeat-x;
	color: white;
	font-family: Arial;
	font-weight: normal;
	text-shadow: 0 1px 3px black;
	text-decoration: none;
}

.presentation {
	background: #2c3138;
	padding: 10px;
	border-top: 1px solid #52585c;
	border-bottom: 1px solid #52585c;
}

.slide {
	background: black;
	border: 1px solid #41454a;
	padding: 10px;
	-moz-box-shadow: 0 0 4px black;
	-webkit-box-shadow: 0 0 4px black;
	box-shadow: 0 0 4px black;
}

#videoContainer {
	float: left;
	width: 48%;
	min-width: 400px;
}

#videoContainer object {
	margin-top: 5%;
}

#slideContainer {
	margin-left: 51%;
}

.floatCloser {
	clear: both;
}

.controls {
	background: #272b31;
	min-height: 30px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.footer {
	background: url(gradGray02.png) top left repeat-x;
	height: 80px;
	border-top: 1px solid #52585c;
}

#agendaContainer div {
	margin-left: 2px;
	margin-right: 2px;
	float: left;
}

.agendaunselected {
	background: purple;
}

.agendaselected {
	background: aqua;
}

.tooltip {
	background-color: #000;
	border: 1px solid #fff;
	padding: 10px 15px;
	display: none;
	color: #fff;
	text-align: left;
	font-size: 12px;
	-moz-box-shadow: 0 0 10px #000;
	-webkit-box-shadow: 0 0 10px #000;
}