html, body {
    height: 100%;
}

body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.container {
    min-height: 100%;
}

.show-grid {
    background-color: #EEE;
    border-radius: 3px;
    padding: 10px;
}

h4 {
    margin-top: 10px;
    margin-bottom: 0;
}

.control-group {
    margin-top: 0;
}

#video, #slide {
    text-align: center;
}

input.title-input {
    font-size: 25px;
    height: 25px;
    width: 99%;
    margin-bottom: 0;
}

.loader {
    width: 50%;
    margin: 40px auto;
    text-align: center;
}

.loader img {
    width: 220px;
}

.smallthumb {
    height: 100px;
    width: auto;
}

.thumb {
    height: 150px;
}

.thumbloading {
    width: 200px;
    height: 150px;
    max-width: 200px;
    background-image: data-url(../../assets/img/thumbloading.gif);
    background-repeat: no-repeat;
    background-position: center;
}

img {
    /*width: 100%;*/
}

button.navbar-btn {
    margin-top: 4px;
    margin-left: 6px;
}

.slide_thumb.span2 {
    margin-left: 0;
}

.video_thumb.span2 {
    margin-left: 3px;
}

.form-horizontal .control-group {
    margin-bottom: 5px;
}

.control-group {
    margin-top: 5px;
}

div.play_pause {
    width: 1%;
    display: table;
    margin: 5px 34%;
}

.play_pause form {
    margin: 0;
}

ul.play_pause {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    float: left;
    border: 1px solid #cdcdcd;
    border-radius: 3px 3px 3px 3px;
    width: 350px;
}

.play_pause li {
    margin: 0 10px;
    padding: 0;
    float: left;
    vertical-align: middle;
}

.play_pause li span {
    float: left;
    margin-top: 13px;
}

.play_pause li span.uneditable-input {
    margin-top: 8px;
    float: left;
}

.play_pause a.play_pause_btn, .play_pause a.set_time, a.slide_burn, .play_pause a.add_slide {
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px;
    height: 45px;
    width: 40px;
    float: left;
}

.chapter form.span9, .speaker form.span9 {
    margin-left: 0px;
}

a.play {
    background-image: data-url(../../assets/img/play3.png);
}

a.pause {
    background-image: data-url(../../assets/img/pause2.png);
}

a.slide_burn {
    background-image: data-url(../../assets/img/Burn.png);
}

a.set_time {
    background-image: data-url(../../assets/img/time.png);
}

a.add_slide {
    background-image: data-url(../../assets/img/plus.png);
}

li.play_pause_divider {
    height: 47px;
    margin: 0;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #808080;
}

div.span1.slide_number {
    margin-left: 0;
}

/* jQuery DatePicker */

.ui-datepicker {
    width: auto;
    line-height: 1em;
}

.ui-widget {
    font-size: 1em;
}

/* MovingBoxes */

.mb-inside {
    border: 0;
}

.mb-controls {
    z-index: 0;
}

.mb-active-slider .mb-controls {
    background: #ccc;
}

.mb-active-slider {
    border-color: #ccc;
}

a.mb-scrollButtons {
    width: 40px;
    height: 33px;
    background: transparent data-url(../../assets/img/arrows.png) no-repeat;
    margin-top: -20px;
}

a.mb-scrollButtons.mb-left {
    left: -40px;
}

a.mb-scrollButtons.mb-right {
    right: -40px;
}

.mb-controls a.current {
    color: black;
    font-weight: bold;
}

h4.slides {
    margin-top: -25px;
    position: absolute;
}